@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

:root {
  font-family: 'IBM Plex Serif', serif;
  background-color: gray;
 
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}