.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    max-height: 98vh;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.formOptions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.formOptions label {
    text-align: center;
    flex: 1;
}

.formOptions select,
.formOptions input {
    flex: 2;
    padding: 5px;
}

.countries {
    display: flex;
    flex-wrap: nowrap;
    max-height: 85vh;
    overflow-y: scroll;
    background-color: #10418b;
    width: 100%;
}

.countries ul {
    list-style: none;
    padding: 0;
}

.countries li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.countries button {
    background: none;
    border: none;
    cursor: pointer;
}

.countriesToAdd {
    width: 50%;
}

.countriesToAdd span {
    display: flex;
    align-items: center;
    margin: 5px;
}

.countriesToAdd button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.form button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
}

.bn39 {
    background-image: linear-gradient(135deg, #008aff, #86d472);
    border-radius: 6px;
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    height: 50px;
    font-size: 1.4em;
    font-weight: 600;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 7em;
    z-index: 2;
  }
  
  .bn39:hover {
    color: #fff;
  }
  
  .bn39 .bn39span {
    align-items: center;
    background: #0e0e10;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
  }
  
  .bn39:hover .bn39span {
    background: transparent;
  }

  #link {

    text-decoration: none;

}

.addButton {
    color:white
}